body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #1e272e;
}

.loading span{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #ffd957;
    display: inline-block;
    border-radius: 50%;
    animation: dots 2s ease-in-out  infinite ;
}

.loading span:nth-child(2){
    background-color: #57ffa0;
    animation-delay: 0.4s;
}
.loading span:nth-child(3){
    background-color: #ff8b57;
    animation-delay: 0.8s;
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}